* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    font-weight: 400; 
    width: auto;
}


html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;  
}

body {
    background-color: $white;
    line-height: 1.6;
}

a { 
    text-decoration: none; 
}

ul {
    list-style: none;
}