* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-weight: 400; 
    width: auto;
}


html,body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;  
}

body {
    background-color: #ffffff;
    line-height: 1.6;
}

a { 
    text-decoration: none; 
}

ul {
    list-style: none;
}


p {
    font-size: 1.24rem;
}


a {
    color: #4d599e;
    font-size: 1.25rem;
    font-weight: 400;
}

strong {
    color: #000;
    margin: 0 .5rem;
    text-align: right;
    font-weight: 500;
    color: #3b457a;
    font-size: 1.2rem;
}


ul  {
    display: block;

}


ul li {
    padding: 1rem 0;
}



textarea {
    resize: none;
    min-height: 10rem;
}


select option {
    font-size: 1.48rem;
}