.secondary-text {
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 500;
    color: #333232;
}

.secondary-text--bordered {
    color: #223f64;
        
}


.title {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 4rem;


    
    @media(min-width: #{$mq-tablet}) { 
     
        margin-bottom: 15rem;
    }

    &--light {

        .title__primary { color: $white; }
        .title__secondary { color: $white; }
    }


    &__primary { 
        font-size: 3.4rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        display: block;
        color: #3d597a;

    }   

    &__secondary {
        font-size: 1.52rem;
        font-weight: 500;
        line-height: 1.9;
        color: #3d597a;
        display: block;
        text-align: justify;
        @media(min-width: 768px) { 
            text-align: center;
        }
        
    }
}