// Components
.paragraph {
    padding: 0;
    margin: 0;
    font-size: 1.32rem;
    color: #444;

    &__mark {
        font-weight: 500;
        font-size: inherit;
        color: #444;
    }
}

.text-primary {
    font-size: 2.8rem;
    // color: #444;
    color: #fff;
    font-weight: 500;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;


    &--dark {
        color: #444;
    }
}

.text-secondary {
    display: block;
    color: #fff;
    font-size: 1.87rem;
    font-weight: 400;

    
    &--dark {
        color: #444;
    }
}


.title-separator {
    // background-color: #f57474;
    padding: 1.5rem 0;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border-radius: 2px;
    
    span {
        font-weight: 500;
        font-size: 2.4rem;
        color: #1a1d36;
    }
}


.dash-bg {
    background-color: #eceffa;
}


.dash-form  {
    width: 100%;
}


.dash-search {
    // background-color: red;
    width: 100%;
    height: 4rem;
    display: flex;
    position: relative;

    input {
        // background-color: red;
        // border-bottom: 1px solid #ddd;
        font-size: 1.7rem;
        width: 100%;
        padding: 0 4rem;
        height: 100%;
    }

    button {
        display: block;
        background-color: transparent;
        position: absolute;
        height: 100%;


        i {
            color: #5c5c5c;
            font-size: 1.8rem;
        }
    }
}

.dash-logo {
    font-size: 2.4rem;
    color: #5c5c5c;
    font-weight: 500;
    // text-transform: uppercase;
}

.dash-header {
    width: 100%;
    // min-height: 25rem;

    background-color: $white;
    border-bottom: 1px solid #e2e2e2;
    // background: linear-gradient(#212235, #161727);

    &__bar {
        background-color: $white;
        padding: 2rem 0;
        border-bottom: 1px solid #d4d4d45e;

    }

    &__wrapper {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;


        display: flex;
        align-items: center;
    }

}




.my-container {

    width: 100%;

    height: auto;
    // min-height: 80rem;
    margin: 0 auto;
    // background-color: #fff;

    // background-color: #ceecfa;
    position: relative;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    overflow: auto;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;

    
    @media(min-width: 600px) {
        max-width: 80%;
    }


    @media (min-width: 1024px) {
        flex-direction: row;




    }

    .card {
        margin-top: 2rem;
    }
    


    .data {


    }

    .data__input {
        border: 2px solid #b3b3b35e;
        // border-color: red;
        
    }

}





.my-container__content {
    // background: red;
    width: 100%;
    // flex-grow: 1;

    @media (min-width: 1024px) {
        // max-width: 80%;
        // flex-grow: 3;

        // padding: 2rem 4rem;
    }

    // min-height: 20rem;
}



// tabs

.tabs__button.active span {
    background-color: #f1f1f1;
}

.tabs {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block;



    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
    }


}


.tab {
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer; 


    &--disabled {
        background-color: #f1f1f1;
    }

    width: 100%;

    // height: 35rem;
    padding: 4rem 2rem;
    line-height: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $white;

    @media(min-width: 768px) {
        max-width: calc(50% - 2rem);

  
    
    }


    @media(min-width: 1024px) {
        max-width: calc(25% - 2rem);

 
    }

    &__icon {
        display: block;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-color: #eceffa;
        text-align: center;
        border: 1px solid #e2e1e1;
        i {
            font-size: 3rem;
            line-height: 8rem;
            color: #2977c0;
        }
    }

    &__label {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.74rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 2.75rem;
        margin-bottom: 1.4rem;

        color: #444;
    }


    &__text {
        display: block;
        margin-top: 1.5rem;
        font-size: 1.45rem;
        color: #444;
        font-weight: 400;
    }
}



.tabs__radio:checked ~ label {
    background-color: blue;
}

.tabs__radio:checked ~ .tabs__content {
    display: block;
}




.tabs-content.active {
    display: block;
   
}

.tabs-content {
    background-color: #fff;

    border-top: 1px solid #eeeeee;
    padding: 2rem;


    // position: absolute;
    width: 100% ;
    // height: 100%;
    // height: 1000px;
    left: 0;
    top: 5rem;
    display: none;

    @media(min-width: 600px) {
        padding: 2rem 4rem;
    }
}



.tabs-container {
    width: 100%;

    margin: 0 auto;
    margin-top: 4rem;

    @media(min-width: 600px) {
        // max-width: 50%;
    }



    .data {


        .data__label {
            font-weight: 600;
            // text-transform: uppercase;
            letter-spacing: 0;
            font-size: 1.6rem;
            color: #1a1d36;
        }

        .data__input {
            padding: 1.4rem;
            border: 1px solid #e0e0e0;
            background-color: #efefef;
        }
    }
}




.user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // margin-top: 2rem;
    margin-left: auto;

    @media(min-width: 768px) {
        margin-top: 0;
    }

    &__data {
        order: -1;
        text-align: center;
        padding-right: 1rem;
    }

    &__name {
        display: block;
        font-size: 1.10rem;
        font-weight: 400;
        text-transform: uppercase;
    }


    &__action {
        order: -1;
        display: block;
        font-size: 1.10rem;
        color: #fff;
        background-color: #37a0dd;
        padding: .25rem;
        border-radius: 2px;
        display: block;

    }

    &__photo {
        width: 5rem;
        height: 5rem;
        // margin: 0 auto;
        position: relative;
        z-index: 999;
        border: 2px solid #ddd;
        
        @media(min-width: 600px) {
            // padding: .5rem;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
        }
    

        img {
            z-index: 998;
       
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            // filter: brightness(70%);

            @media(min-width: 600px) {
                border-radius: 50%;
            }
        }


    }
}


.dash-btn {
    padding: 1.4rem 2rem;
    color: #fff;
    background-color: #005dff;
    border-radius: 2px;
    font-size: 1.37rem;
    font-weight: 500;
    box-shadow: 0 3px 7px rgba($black, .2);
    display: inline-block;
    margin-right: 1rem;
    text-transform: uppercase;
    opacity: .9;
    cursor: pointer;
}