$white: #fff;
$black: #000;

$light-grey-1: #e4e1e1;
$light-grey-2: #ffffff8c;
$light-grey-3: #ececec;


$dark-grey-1: #302f2f;
 
$mq-small: 320px;
$mq-medium: 480px;
$mq-tablet: 768px;
$mq-screen: 1024px;
$mq-lscreen: 1200px; 