.aside {
    // width: 35rem;
    width: 28.5rem;
    background-color: $white;

    position: fixed;
    height: 100%;
    top: 0;
    right: 0; 
 

    overflow: auto;


    @media(min-width: 1024px) {
        top: 8rem;    
        height: auto;
    }
    border-left: 1px solid #ffffff;
  
}

.aside__header  {
    font-size: 1.8rem;
    color: #302f2f;
    font-weight: 400;
    border-bottom: 1px solid #ececec;
    display: inline-block;
    padding: 1.85rem 2.45rem;
    /* margin: 2rem; */


}