.btn {
    font-size: 1.48rem;
    font-weight: 500;
    text-align: center;
    line-height: 0;
    padding: 2.25rem 4rem; 
    transition: all .2s;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    border: 1px solid var(--bg);
    cursor: pointer;
    color: var(--color, #{$white});
    background-color: var(--bg, #{transparent});



    &--outline {

        &:hover {
            border-color: var(--bg);
            color: var(--bg);
            background-color: var(--color);
        }
    }


    &--xs {
        padding: 1.8rem 2rem;  
        font-size: 1.42rem; 
        font-weight: 300;
    }

    &--md {
        padding: 2rem;  
        font-size: 1.28rem;
    }


    &--block  {
        width: 100%;
        display: block;
    }

    &--circle {
        border-radius: 25rem;
    }

    &--white {
        font-weight: 600;
        --color: #000;
        --bg: #{$white};
        
        border-radius: 25rem;
    }

    &--blue {
        --color: #{$white};
        --bg: #3f7bb7;
    }

    
    &--blue-dark {
        --color: #{$white};
        --bg: #334458;  
        border: 1px solid #334458;
    }

    
    &--yellow {
        --color: #{$white};
        --bg: #f5b64c;
    }

    &--green {
        --color: #{$white};
        --bg: #41e09e;
    }

    &--border {
        border: 1px solid $white;
    
    }

    &--red {
        --color: #{$white};
        --bg: #d64a51;
    }

    &--purple {
        --color: #{$white};
        --bg: #7928ff;

        // #334458

    }

    &--purple-light {
        --color: #{$white};
        --bg: #9564e4;

        // #334458

    }

    
    &--blue-light {
        --color: #{$white};
        --bg: #4a82fa;

        // #334458

    }

}


.btn-login {
    // min-width: 12rem;
    padding: .85rem .85rem;
    font-weight: 500;
    border-radius: 2px;
    font-size: 1.4rem;


    cursor: pointer;

    width: 100%;
    // margin: 1rem;

    justify-content: center;

    background-color: transparent;
    // border: 1px solid rgb(47, 47, 47);
    border: 1px solid rgba(255, 255, 255, 0.178);
    color: #fff;
    // background-color: rgb(255, 255, 255);
    // color: #333232;

    // #e69e49
    line-height: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;

    i {
        margin-left: 1rem;
        font-size: 1.6rem;
    }

    @media(min-width: 768px) { 
        margin-left: 2.5rem;
        width: auto;
    }

}


.mobile-btn {
    // 
    // color: #333232;
    color: #fff;
    order: -1;
    // margin-left: auto;
    margin-bottom: 2rem;

    i {
        font-size: 1.89rem;
    }

    @media(min-width: 768px) { 
        margin-left: 4rem;
        margin-bottom: 0;
        order: 1;

        i {
            font-size: 1.742rem;
        }
    }
    
}
