.header {
    // min-height: 8rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    padding: 2rem;
  
    z-index: 1000;
    // background-color: rgba(0,0,0,.2);
    // background-color: #fff;
    // position: absolute;

    // top: 0;
    // left: 0;
    // right: 0;
    background-color: #000;
  
    width: 100%;

    @media(min-width: 768px) { 
        position: absolute;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
        padding: 1rem 2rem;
    }
    
}

.header .container {
    display: flex;
    align-items: center;
    flex-wrap: inherit;

    // flex-direction: column;
}

.header__content {
    display: flex;
    align-items: center;    
    flex-wrap: inherit;


    width: 100%;
    // padding: 0 1rem;
    
    @media(min-width: 768px) { 
        width: auto;


    }
}



.header__logo {
    display: block;
    // font-size: 3rem;
    // color: #302f2f;
    color: #fff;
    /* font-family: 'Indie Flower', cursive; */
    text-decoration: none;
    // margin-left: auto;
    width: 20rem;

    display: none;

    @media(min-width: 768px) { 
        display: block;

    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.header__item-right {


    @media(min-width: 768px) { 
        margin-left: auto;

    }
}