.loader-wrapper.loader-wrapper--fade {
    opacity: 0;
    z-index: -1;
    animation: opacity 2s;
}

.loader-wrapper {
    // background-color: rgb(25, 22, 37);
    background-color: white;
    position: fixed;
 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4000;

    display: flex;
    justify-content: center;
    align-items: center;
}


.loading {
  
    display: block;
    width: 20rem;
    height: 20rem;
    background-image: url('./../images/logind.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



    // animation: loading 2s infinite ease;
}


.loading__inner {
    // background-color: #2c283d;
    // width: 100%;
    // display: block;
    // height: 100%;

    // animation: loading-inner 2s infinite;
    // animation-delay: 2s;
}


@keyframes loading {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-inner {

    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}


@keyframes opacity {
    0% {
        opacity: 1;
        backface-visibility: visible;
        // z-index: 999;
    }



    100% {
        opacity: 0;
        backface-visibility: hidden;
        // z-index: -1;
    }
}