.newsletter {
    // margin-top: -10rem;
    background-color: #1b1e22;
    padding: 10rem 0 2rem 0;
    position: relative;
    bottom: 0;
    z-index: 50;
    // clip-path: polygon(50% 18%, 100% 0, 100% 100%, 0 100%, 0 0);

    // clip-path: polygon(50% 18%, 100% 0, 100% 100%, 50% 82%, 0 100%, 0 0);
    clip-path: polygon(51% 18%, 100% 0, 100% 100%, 0 100%, 0 0);
    // border-bottom: 1px solid #0f1010;
    // &:after {
    //     content: '';
    //     background-color: red;
    //     z-index: 20;
    //     position: absolute;
    //     top: 0;
    //     left: 0;

    //     width: 100%;
    //     height: 100%;
    //     clip-path: polygon(50% 28%, 100% 0, 100% 100%, 0 100%, 0 0);
    // }
 

}


.newsletter__wrapper {
    text-align: center;
    // padding: 5rem 0;
    // background-color: #fff;

    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}


.newsletter__icon {
    display: block;
    background-color: #fff;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;


    margin-bottom: 3rem;

    i {
        color: #3e43b1;
        font-size: 2.75rem;
    }
}


.newsletter__title {
    font-size: 2.25rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: .5rem;
    margin-top: 2.5rem;
}

.newsletter__subtitle {
    
    font-size: 1.45rem;
    letter-spacing: 1px;
    color: #fff;
    word-spacing: 2px;
    margin-bottom: 1rem;
    font-weight: 300;
}


.newsletter__form {
    margin-top: 2rem;

    .newsletter__data {

        margin: 0 auto;
        // padding: 1rem;
        // background-color: red;
        height: 4rem;
        border-radius: 4px;
        display: flex;
        justify-content: stretch;

    }


    .newsletter__data input {
        width: 100%;
        height: 100%;
        position: relative;
        border: none;
        font-size: 1.5rem;
        background-color: #151617;
        border-right: 2px solid #191b1f;
        padding: 0 1rem;
        display: block;
        
    }

    .newsletter__data button {
        font-size: 1.15rem;
        padding: 0 2rem;
        display: block;
        height: 100%;
        font-weight: 500;
        letter-spacing: 1px;
        color: #fff;
        background-color: #151617;
    }
}


