.about {
    background-color: #f1f1f1;
    position: relative;
    flex-direction: column;
    padding: 5rem 2rem;


    
    @media(min-width: #{$mq-tablet}) { 
        background-color: #222222;
        padding: 0 0 20rem 0;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
            z-index: 52;
            clip-path: polygon(100% 0, 100% 84%, 73% 81%, 44% 96%, 21% 86%, 0 98%, 0 0);
        }
    }
}

.about,
.about .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 54;
}

.about .title {
    padding: 0;
}


.about__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;


    @media(min-width: 768px) { 
        padding: 5rem 2rem;
    }
}

.about__explain {
    text-align: justify;
    width: 100%;
    
    
    @media(min-width: 480px) { 
        max-width: calc(60% );
        margin-bottom: 0;
    }





    p {
        line-height: 1.8;
        font-size: 1.48rem;
        margin-bottom: 1rem;


        &:first-child::first-letter {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}


.about__shape {
    width: 100%;
    order: -1;
    margin-bottom: 2rem;


    @media(min-width: 480px) { 
        padding: 0 2rem;
        margin-bottom: 0;
        max-width: 40%;
    }

    @media(min-width: 768px) { 
        margin-right: auto;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
